<div class="navbar bg-base-100 lg:px-10 border-b-2 border-b-stone-300 drop-shadow-md">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="{{ url_for("home.home")}}">OtakuOasis</a>
  </div>
  {% if is_logged_in %}
    <div class="navbar-end relative">
      <div class="dropdown dropdown-end absolute z-100">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="Tailwind CSS Navbar component"
                 width=""
                 height=""
                 src="{{ url_for('static', filename='images/user.jpg') }}" />
          </div>
        </div>
        <ul tabindex="0"
            class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 z-50">
          <li>
            <a href="#">Profile</a>
          </li>
          <li>
            <a href="{{ url_for("accounts.logout") }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  {% else %}
    <div class="navbar-end flex flex-row sm:gap-2 gap-x-4 items-center">
      <a class="btn btn-xs btn-sm md:btn-md"
         href="{{ url_for("accounts.login") }}">Login</a>
      <a class="btn btn-active btn-accent hover:bg-teal-500 btn-sm md:btn-md"
         href="{{ url_for("accounts.register") }}">Register</a>
    </div>
  {% endif %}
</div>
