<div class="navbar bg-base-100 lg:px-10 border-b-2 border-b-stone-200 drop-shadow-sm relative z-[1000]">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="{{ url_for("home.home") }}">OtakuOasis</a>
    </div>
    {% if is_logged_in %}
        <div class="navbar-end relative z-1050">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS Navbar component"
                             src="{{ url_for('static', filename='images/user.jpg') }}"/>
                    </div>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 p-2 text-gray-800 bg-white/80 shadow-lg ring-1 ring-black/5 rounded-md w-52 absolute z-[9999]">
                    <li>
                        {# TODO: implement this user profile page #}
                        <a href="{{ url_for("accounts.profile") }}">Profile</a>
                    </li>
                    <li>
                        <a href="{{ url_for("accounts.logout") }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    {% elif request.path == url_for('home.landing_page') %}
        <div class="navbar-end flex flex-row sm:gap-2 gap-x-4 items-center">
            <a class="btn btn-accent hover:bg-teal-500 btn-sm md:btn-md"
               href="{{ url_for("accounts.login") }}">Get Started</a>
        </div>
    {% else %}
        <div class="navbar-end flex flex-row sm:gap-2 gap-x-4 items-center">
            <a class="btn btn-sm md:btn-md"
               href="{{ url_for("accounts.login") }}">Login</a>
            <a class="btn btn-accent hover:bg-teal-500 btn-sm md:btn-md"
               href="{{ url_for("accounts.register") }}">Register</a>
        </div>
    {% endif %}
</div>
