{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block content %}
<div class="mx-auto max-w-3xl py-12 lg:max-w-[1400px] lg:px-8">
<h1 class="text-lg font-bold pb-4">Customers who viewed this item also viewed</h1>
<div class="flex flex-row items-center justify-center space-x-4 overflow-hidden w-full">
    <button onclick="scrollCarousel(-5)" class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none">
      &#8592;
    </button>
  
    <div id="carousel" class="flex flex-row space-x-1 overflow-x-hidden scroll-smooth">
      {% for book in recommend_products %}
      <div class="flex-none w-1/5">
        <a href="{{ url_for('home.recommend', isbn=book.isbn) }}" class="group">
          <div class="rounded-md bg-slate-100 w-52 h-64">
            <img src="{{ book.img }}" alt="image" class="relative z-10 object-contain w-full h-full object-center pt-2 px-2 md:pt-6">
          </div>
          <h3 class="mt-4 text-base text-cyan-700 hover:underline hover:text-cyan-900 hover:cursor-pointer line-clamp-2">{{ book.title }}</h3>
          <p class="mt-1 text-sm font-medium text-gray-900">by <i>{{ book.author }}</i></p>
          <p class="mt-1 text-base font-medium text-gray-950">{{ book.price }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  
    <button onclick="scrollCarousel(5)" class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none">
      &#8594;
    </button>
  </div>
</div> 

  
  <script>
    let carousel = document.getElementById('carousel');
    let carouselWidth = carousel.offsetWidth;
    let itemWidth = carousel.children[0].offsetWidth;
    let numItems = carousel.children.length;
    let currentIndex = 0;
  
    function scrollCarousel(direction) {
      let newIndex = currentIndex + direction;
      if (newIndex < 0) {
        newIndex = 0;
      } else if (newIndex >= numItems - 4) {
        newIndex = numItems - 5;
      }
      carousel.scrollLeft = newIndex * (itemWidth + 3);
      currentIndex = newIndex;
    }
  </script>
<style>
    #carousel::-webkit-scrollbar {
        display: none;
    }

    #carousel {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>
{% endblock %}
