<div class="pt-10 px-10 sm:pt-12 mx-auto max-w-2xl lg:max-w-5xl flex flex-col w-full gap-3">
    <div class="flex flex-row gap-2">
        <form class="grow relative z-40" method="post" hx-post="{{ url_for('search.search') }}" id="search-form">
            {# TODO: implement search/sort function, adding the method add to favourite, not cart #}
            <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-500"
                         fill="none"
                         stroke="currentColor"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                        </path>
                    </svg>
                </div>
                <label for="search-input-field" class="sr-only">Search input</label>
                <input class="form-control block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-teal-600 focus:border-teal-700"
                       type="search"
                       name="q"
                       placeholder="Begin Typing To Search Books..."
                       hx-get="{{ url_for('search.search') }}"
                       hx-trigger="keyup changed delay:300ms, submit"
                       hx-params="*"
                       hx-target="#search-results"
                       id="search-input-field"
                       autocomplete="off"
                       oninput="handleSearchInput()"
                       readonly onfocus="this.removeAttribute('readonly');">
                <button type="submit"
                        class="text-white absolute right-2.5 bottom-2.5 bg-teal-600 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 text-xs md:text-sm md:font-medium rounded-lg px-4 py-2">
                    Search
                </button>
            </div>
        </form>
        {% include 'components/cart.html' %}
    </div>
    <div class="grow relative z-40 mr-11">
        <div class="flex flex-col
                    absolute py-4 w-full text-sm text-gray-900 rounded-lg border items-center bg-gray-200"
             id="search-results">
            <span class="htmx-indicator">
                Searching...
            </span>
        </div>
    </div>
    <script>
        window.onload = function () {
            document.getElementById('search-input-field').value = '';
        }

        let searchInput = document.getElementById('search-input-field');
        let resultsDiv = document.getElementById('search-results');
        resultsDiv.classList.add('hidden');

        function handleSearchInput() {
            if (searchInput.value.trim() !== "") {
                resultsDiv.classList.remove('hidden');
            } else {
                resultsDiv.classList.add('hidden');
            }
        }
    </script>
</div>
