<nav class="flex flex-row items-center bg-gray-200 bg-opacity-50 shadow shadow-gray-200 w-full min-h-4">
	<div class="flex-shrink-0 mx-auto md:px-4">
		<div class="text-gray-500 order-3 w-full">
			<ul class="navbar-nav flex justify-between items-center">
				<li class="text-sm px-3 md:px-6 text-cyan-600 hover:text-cyan-700 hover:underline"><a href="{{ url_for("home.landing_page") }}">Home</a></li>
				<li class="text-sm px-3 md:px-6 text-cyan-600 hover:text-cyan-700 hover:underline"><a href="{{ url_for("home.about") }}">About</a></li>
				<li class="text-sm px-3 md:px-6 text-cyan-600 hover:text-cyan-700 hover:underline"><a href="{{ url_for('home.landing_page') }}#testimonials">Stories</a></li>
			</ul>
		</div>
	</div>
</nav>