{% extends 'base.html' %}
{% block title %}book{% endblock %}
{% block content %}
    {% include 'components/sub_navbar.html' %}
    <div class="container max-w-3xl mx-auto px-4 py-8 flex flex-col text-justify">
        <a href="{{ url_for("home.home") }}"
           class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
            <img class="mx-auto h-48"
                 height=""
                 width=""
                 src="{{ url_for("static", filename='images/logo2.png') }}"
                 alt=>
        </a>
        <h1 class="text-xl md:text-3xl font-bold mb-4 text-center">About Us</h1>
        <p class="text-sm leading-relaxed md:text-[16px] mb-4">Welcome to our book recommender! We are passionate about connecting readers with the
            books they love and providing a platform for authors to share their work with the world.</p>
        <p class="text-sm leading-relaxed md:text-[16px] mb-4">At our website, you'll find a vast selection of books spanning various genres, from
            bestselling novels to niche non-fiction. Our goal is to make it easy for book lovers to discover new reads
            and for authors to reach their audience.</p>
        <p class="text-sm leading-relaxed md:text-[16px] mb-4">Whether you're an avid reader, a casual browser, or an author looking to publish your
            book, we're here to help you find what you're looking for.</p>
        <p class="text-sm leading-relaxed md:text-[16px] mb-4">Thank you for choosing us!!</p>
        <p class="text-sm leading-relaxed md:text-[16px] mb-4">Here is our marketing website for more details!</p>
        <a href="https://otakuoasis.wixsite.com/otaku-oasis"
           class="text-sm leading-relaxed md:text-[16px] text-cyan-600 hover:text-cyan-700 hover:underline">
            Marketing Website</a>
    </div>
{% endblock %}