<footer style="margin: auto; width: 100%; background-color: rgba(0, 0, 0, 0.2)">
  <div class="main" style="align-items: center; padding: 0; margin: 0 auto">
    <div class="sub_main">
      <div class="short_links flex" style="justify-content: center">
        <ul>
          <li><a href="{{ url_for('home.home') }}">Home</a></li>
          <li><a href="{{ url_for('home.about') }}">About Us</a></li>
        </ul>
        {% if is_logged_in %}
        <ul class="account">
          <h2>Account</h2>
          <li><a href="{{ url_for('view-profile') }}">Profile</a></li>
          <li><a href="{{ url_for('cart') }}">Cart</a></li>
          <li><a href="{{ url_for('orders') }}">Order History</a></li>
          <li><a href="{{ url_for('signout') }}">LogOut</a></li>
        </ul>
        {% endif %}
        <ul>
          <h2>Contact</h2>
{#          <li><a href="{{ url_for('contact') }}">Contact Form</a></li>#}
          <li>+65 912345678</li>
          <li>contact@Otaku.com</li>
          <li>Address: Singapore 123456</li>
        </ul>
      </div>
    </div>
  </div>

  <div
    style="align-items: center; justify-content: center; margin: 20px 0 0"
    class="cmsg flex"
  >
    <p>
        Copyright &copy;
      <script>
        document.write(new Date().getFullYear().toString());
      </script>
      All Rights are reserved by &nbsp
    </p>
      <a href="{{ url_for('home.home') }}"
        ><span style="font-size: 15px; color: darkred"> Otaku </span>
        <span class="me" style="font-size: 15px; color: darkred">Oasis</span></a
      >
  </div>
</footer>
