{% extends 'base.html' %}
{% block title %}Book{% endblock %}
{% block content %}
    {% include 'components/sub_navbar.html' %}
    <div class="h-screen bg-gray-300">
        <div class="py-12">
            <div class="max-w-md mx-auto bg-gray-100 shadow-lg rounded-lg  md:max-w-5xl">
                <div class="md:flex ">
                    <div class="w-full p-4 px-5 py-5">
                        <div class="md:grid md:grid-cols-2 gap-2 ">
                            <div class="col-span-2 p-5" id="favourite-list">
                                <h1 class="text-xl font-medium text-center">Favourite List</h1>
                                {% if favourite_list is defined and favourite_list|length > 0 %}
                                {% for book in favourite_list %}
                                    <div class="flex justify-between items-center mt-6 pt-6">
                                        <div class="flex  items-center">
                                            <img src="{{ book.img }}" width="60" alt="{{ book.title }}">
                                            <div class="flex flex-col ml-3">
                                                <a class="md:text-[16px] font-medium hover:text-blue-600 hover:underline cursor-pointer truncate" href="{{ url_for('home.book', isbn=book.isbn) }}">{{ book.title }}</a>
                                            </div>
                                        </div>

                                        <div class="flex justify-center items-center">
                                            <div class="pr-8 ">
                                                <span class="text-sm font-medium">S${{ book.price }}</span>
                                            </div>
                                            <div>
                                                <span class="text-sm text-red-500 hover:underline cursor-pointer"
                                                      hx-delete="{{ url_for("accounts.delete_from_favourite", isbn=book.isbn) }}"
                                                      hx-trigger="click"
                                                      hx-target="#favourite-list"
                                                      hx-swap="innerHTML"
                                                >DELETE</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                            <div class="flex justify-between items-center mt-6 pt-6">
                                <span>List is empty, please add books to see.</span>
                            </div>
                        {% endif %}
                                <div class="flex justify-between items-center mt-6 pt-6 border-t">
                                    <div class="flex items-center">
                                        <i class="fa fa-arrow-left text-xs text-blue-500 pr-2"></i>
                                        <a class="text-md text-blue-500 hover:underline hover:text-blue-600" href="{{ url_for("home.home") }}">
                                            Back to home</a>
                                    </div>
                                    <div class="flex justify-center items-end">
                                        <span class="text-[14px] text-gray-400 mr-1">Subtotal:</span>
                                        <span class="text-[15px] font-medium text-gray-700 items-center">S${{ subtotal_price }}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}