<div class="add-book-form text-left mx-auto w-3/4 lg:w-2/3 xl:w-1/2 my-20" id="user-form">
    <div class="flex flex-row justify-between mt-6">
        <h2 class="text-xl font-semibold mb-4">Add a new user</h2>
    </div>
    <form method="post"
          hx-post="{{ url_for("admin.add_user") }}"
          hx-target="#user-form"
          hx-swap="outerHTML"
          hx-trigger="submit"
    >
        <div class="mb-4">
            <label for="isbn" class="block text-sm font-medium text-gray-700">Fullname:</label>
            <input type="text" id="fullname" name="fullname" required
                   class="mt-1 p-2 border border-gray-300 rounded-md w-full">
        </div>
        <div class="mb-4">
            <label for="title" class="block text-sm font-medium text-gray-700">Email:</label>
            <input type="text" id="email" name="email" required
                   class="mt-1 p-2 border border-gray-300 rounded-md w-full">
        </div>
        <div class="mb-4">
            <label for="price" class="block text-sm font-medium text-gray-700">Username:</label>
            <input type="text" id="username" name="username" step="0.01" required
                   class="mt-1 p-2 border border-gray-300 rounded-md w-full">
        </div>
        <div class="mb-4">
            <label for="author" class="block text-sm font-medium text-gray-700">Password:</label>
            <input type="password" id="password" name="password" required
                   class="mt-1 p-2 border border-gray-300 rounded-md w-full">
        </div>
        <div class="mb-4">
            <label for="description" class="block text-sm font-medium text-gray-700">Admin:</label>
            <select class="select select-bordered mt-1 p-2 border border-gray-300 rounded-md w-full">
                <option disabled selected>Choose status</option>
                <option value="1">True</option>
                <option value="0">False</option>
            </select>
        </div>
        <div class="flex flex-row justify-end items-center gap-4">
            <button type="submit" class="px-4 py-2  btn btn-info text-gray-50">Add User
            </button>
            <button type="button" class="px-4 py-2 btn btn-outline btn-error"
                    hx-get="{{ url_for("admin.add_user", cancel="true") }}"
                    hx-target="#user-form"
                    hx-swap="outerHTML"
                    hx-trigger="click">
                Cancel
            </button>
        </div>
    </form>
</div>