{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}

    {% include 'admin/sub_navbar.html' %}

    <main class="p-6 sm:p-10 space-y-6">
        <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
            <div class="mr-6">
                <h1 class="text-4xl font-semibold mb-2">Dashboard</h1>
            </div>
        </div>
        <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
                <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
                    </svg>
                </div>
                <div>
                    <span class="block text-2xl font-bold">{{ total_users }}</span>
                    <span class="block text-gray-500">Users</span>
                </div>
            </div>
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
                <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-blue-600 bg-blue-100 rounded-full mr-6">
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
                    </svg>
                </div>
                <div>
                    <span class="block text-2xl font-bold">{{ total_books }}</span>
                    <span class="block text-gray-500">Books</span>
                </div>
            </div>
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
                <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div>
                    <span class="block text-2xl font-bold">{{ total_fav_list }}</span>
                    <span class="block text-gray-500">Total Favorite Lists</span>
                </div>
            </div>
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
                <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-red-600 bg-red-100 rounded-full mr-6">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
                <div>
                    <span class="inline-block text-2xl font-bold">{{ precision }}%</span>
                    <span class="block text-gray-500">ML Performance</span>
                </div>
            </div>
        </section>
        <section class="grid md:grid-cols-2 xl:grid-cols-4 xl:grid-rows-2 xl:grid-flow-col gap-6">
            <div class="flex flex-col md:col-span-2 md:row-span-2 bg-white shadow rounded-lg">
                <div class="px-6 py-5 font-semibold border-b border-gray-100">Collaborative Denoise Autoencoder model
                    performance Recall@5
                </div>
                <div class="p-4 flex-grow">
                    <div class="flex items-center justify-center h-full text-gray-400 text-3xl"
                         id="linegraph">
                        <script>
                            let graphs = {{plot | safe}};
                            const layout = {
                                autosize: false,
                                width: 500,
                                height: 500,
                                margin: {
                                    l: 50,
                                    r: 50,
                                    b: 100,
                                    t: 100,
                                    pad: 4
                                },
                                plot_bgcolor: '#f6f6f6'
                            };
                            Plotly.plot('linegraph', graphs, layout);
                        </script>
                    </div>
                </div>
            </div>

            <div class="flex flex-col md:col-span-2 md:row-span-2 bg-white shadow rounded-lg">
                <div class="px-6 py-5 font-semibold border-b border-gray-100">Model Loss</div>
                <div class="p-4 flex-grow">
                    <div class="flex items-center justify-center h-full rounded-md" id="linegraph2">
                        <script>
                            let graphs_2 = {{plot2 | safe}};
                            const layout_2 = {
                                autosize: false,
                                width: 500,
                                height: 500,
                                margin: {
                                    l: 50,
                                    r: 50,
                                    b: 100,
                                    t: 100,
                                    pad: 4
                                },
                                plot_bgcolor: '#f6f6f6'
                            };
                            Plotly.plot('linegraph2', graphs_2, layout_2);
                        </script>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}