<nav class="flex flex-row items-center bg-gray-200 shadow shadow-gray-300 w-full min-h-4">
	<div class="flex-shrink-0 mx-auto md:px-4">
		<div class="text-gray-500 order-3 w-full">
			<ul class="navbar-nav flex justify-between items-center">
				<li class="text-sm md:px-4 text-cyan-600 hover:text-cyan-700 hover:underline"><a href="{{ url_for("admin.admin")}}">Dashboard</a></li>
				<li class="text-sm md:px-4 text-cyan-600 hover:text-cyan-700 hover:underline"><a href="{{url_for("admin.add_books")}}">Add Books</a></li>
				<li class="text-sm md:px-4 text-cyan-600 hover:text-cyan-700 hover:underline"><a href="#">ML Config</a></li>
			</ul>
		</div>
	</div>
</nav>